<!-- <%- tasks.map((data)=> {
                        return `<li class="list-group-item d-flex bg-light" data-id="${data.id}">
                            <span class="flex-grow-1 d-flex align-items-center">
                                <label>${data.title}</label>
                                <span class="badge ${data.completed ? " bg-success" : "bg-secondary" } ms-auto me-3
                                    user-select-none">${data.completed ? "Completed" : "In progress"}</span>
                            </span>
                            <button class="btn btn-sm ${data.completed ? " btn-secondary" : "btn-success" } me-3
                                toggle-btn">Toggle</button>
                            <button class="btn btn-sm btn-primary me-3 edit-btn">Edit</button>
                            <button class="btn btn-sm btn-danger delete-btn">Delete</button>
                        </li>`
                        })
                        .join(""); %> -->

<% for(let data of tasks){ %>
    <li class="list-group-item d-flex bg-light" data-id="<%=data.id %>">
        <span class="flex-grow-1 d-flex align-items-center">
            <label>
                <%=data.title%>
            </label>
            <span class="badge <%= data.completed ? " bg-success" : "bg-secondary" %> ms-auto me-3
                user-select-none">
                <%= data.completed ? "Completed" : "In progress" %>
            </span>
        </span>
        <button class="btn btn-sm <%= data.completed ? " btn-secondary" : "btn-success" %> me-3
            toggle-btn">Toggle</button>
        <button class="btn btn-sm btn-primary me-3 edit-btn">Edit</button>
        <button class="btn btn-sm btn-danger delete-btn">Delete</button>
    </li>
<% } %>